<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  Contact Me:
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="component-content">
<ion-accordion-group *ngFor="let contact of contactlist; let i = index">
  <ion-accordion value="contacts">
    <ion-item slot="header">
    
        <ion-item> 
            <ion-thumbnail slot="start"class="thumb">
            <img src="assets/image/profile.jpg">
            </ion-thumbnail>
          <ion-label >{{ contact.name }}</ion-label>
    
        </ion-item>
    
    
    </ion-item>

    <ion-list slot="content" >
      <ion-item>
        <ion-thumbnail slot="start" >
          </ion-thumbnail>
          <ion-icon name="mail-outline" color="warning"></ion-icon>
        <ion-label >{{ contact.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          </ion-thumbnail>
          <ion-icon name="call-outline" color="warning"></ion-icon>
        <ion-label>{{ contact.number }}</ion-label>
      </ion-item>

    </ion-list>
  </ion-accordion>
  </ion-accordion-group>